[settings]
profile = black
multi_line_output = 3
line_length = 88
known_first_party = pygetpapers
known_third_party = streamlit,pandas,lxml,requests
skip = venv*,venv_p312,.venv,build,dist,.eggs,*.egg-info
skip_glob = venv*/* 