<html xmlns="http://www.w3.org/1999/xhtml" ng-app="homeArticulo" ng-controller="homeArticuloController" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

	<title>NOVEDADES NOMENCLATURALES EN LOS GÉNEROS LIPPIA Y LANTANA (VERBENACEAE)</title>
	<meta charset="UTF-8">

	<meta name="application-name" content="Redalyc">
	<meta name="language" content="spanish">
			<meta lang="es" name="description" content="Como continuación de nuestros estudios previos realizados en los géneros Lippia y Lantana, se proponen las siguientes novedades: Lantana bocainiensis, como una nueva combinación; se establecen nuevos sinónimos, Lantana brachypoda y Lantana ventura, para Lippia grisebachiana: y un nuevo sinónimo, Lantana clarazii, para Junellia spatulatha var. spathulata. Se designan lectotipos para los siguientes taxones: Lippia lantanifolia, Lantana brachypoda y Lippia turbinata. Se consideran taxones dudosos a Lantana cummingiana y Lantana hyptoides.">
			<meta lang="en" name="description" content="Continuing our research in Lippia and Lantana, the following novelties are proposed: Lantana bocainiensis as a new combination, Lantana brachypoda and L. venturii are listed as synonyms of Lippia grisebachiana, and Lantana clarazii is considered a synonym of Junellia spatulatha. var. spathulata. Lectotypes are designated for the following taxa: Lippia lantanifolia, Lantana brachypoda and Lippia turbinata. Lantana cummingiana and Lantana hyptoides are treated as dubious taxa within this genus.">
		<meta name="keywords" content="Lantana, Lippia, taxonomía, Verbenaceae, Lantana, Lippia, taxonomy, Verbenaceae">
		<meta name="author" content="Alicia D. Rotman">
		<meta name="author" content=" María E. Múlgura de Romero">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="Content-Language" content="es,en">
	
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Redalyc.org">
    <meta property="og:locale" content="es_LA">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:locale:alternate" content="es_ES">

	<meta property="og:title" content="NOVEDADES NOMENCLATURALES EN LOS GÉNEROS LIPPIA Y LANTANA (VERBENACEAE)">
			<meta property="og:description" content="Como continuación de nuestros estudios previos realizados en los géneros Lippia y Lantana, se proponen las siguientes novedades: Lantana bocainiensis, como una nueva combinación; se establecen nuevos sinónimos, Lantana brachypoda y Lantana ventura, para Lippia grisebachiana: y un nuevo sinónimo, Lantana clarazii, para Junellia spatulatha var. spathulata. Se designan lectotipos para los siguientes taxones: Lippia lantanifolia, Lantana brachypoda y Lippia turbinata. Se consideran taxones dudosos a Lantana cummingiana y Lantana hyptoides.">
			<meta property="og:description" content="Continuing our research in Lippia and Lantana, the following novelties are proposed: Lantana bocainiensis as a new combination, Lantana brachypoda and L. venturii are listed as synonyms of Lippia grisebachiana, and Lantana clarazii is considered a synonym of Junellia spatulatha. var. spathulata. Lectotypes are designated for the following taxa: Lippia lantanifolia, Lantana brachypoda and Lippia turbinata. Lantana cummingiana and Lantana hyptoides are treated as dubious taxa within this genus.">
	<meta property="og:image" content="https://www.redalyc.org/redalyc/media/inc/img/revista/movil/revista/rva66914279011.png">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://www.redalyc.org/articulo.oa?id=66914279011">
	<meta property="og:site_name" content="Redalyc.org">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Redalyc">
	<meta name="twitter:url" content="https://www.redalyc.org/articulo.oa?id=66914279011">
	<meta name="twitter:title" content="NOVEDADES NOMENCLATURALES EN LOS GÉNEROS LIPPIA Y LANTANA (VERBENACEAE)">
			<meta property="twitter:description" content="Como continuación de nuestros estudios previos realizados en los géneros Lippia y Lantana, se proponen las siguientes novedades: Lantana bocainiensis, como una nueva combinación; se establecen nuevos sinónimos, Lantana brachypoda y Lantana ventura, para Lippia grisebachiana: y un nuevo sinónimo, Lantana clarazii, para Junellia spatulatha var. spathulata. Se designan lectotipos para los siguientes taxones: Lippia lantanifolia, Lantana brachypoda y Lippia turbinata. Se consideran taxones dudosos a Lantana cummingiana y Lantana hyptoides.">
			<meta property="twitter:description" content="Continuing our research in Lippia and Lantana, the following novelties are proposed: Lantana bocainiensis as a new combination, Lantana brachypoda and L. venturii are listed as synonyms of Lippia grisebachiana, and Lantana clarazii is considered a synonym of Junellia spatulatha. var. spathulata. Lectotypes are designated for the following taxa: Lippia lantanifolia, Lantana brachypoda and Lippia turbinata. Lantana cummingiana and Lantana hyptoides are treated as dubious taxa within this genus.">
	<meta name="twitter:image" content="https://www.redalyc.org/redalyc/media/inc/img/revista/movil/revista/rva669.png">

	<link rel="shortcut icon" href="img/r2020.ico">
	<link rel="image_src" type="image/png" href="https://www.redalyc.org/redalyc/media/inc/img/revista/movil/revista/rva669.png">

	<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-3153272-1' ]);
		_gaq.push([ '_trackPageview' ]);
		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-PG5DW8YGFY"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-PG5DW8YGFY');
	</script>
	<meta name="citation_abstract_html_url" content="https://www.redalyc.org/articulo.oa?id=66914279011">
		<meta name="citation_author" content="Alicia D. Rotman">
		<meta name="citation_author" content=" María E. Múlgura de Romero">
	<meta name="citation_publication_date" content="2010">
	<meta name="citation_journal_title" content="Darwiniana">
		<meta name="citation_issn" content="0011-6793">
		<meta name="citation_issn" content="1850-1702">
		<meta name="citation_volume" content="48">
		<meta name="citation_issue" content="1">
	<meta name="citation_title" content="NOVEDADES NOMENCLATURALES EN LOS GÉNEROS LIPPIA Y LANTANA (VERBENACEAE)">
		<meta name="citation_firstpage" content="97">
		<meta name="citation_lastpage" content="99">
	<meta name="citation_publisher" content="Instituto de Botánica Darwinion">
		<meta name="citation_pdf_url" content="https://www.redalyc.org/pdf/669/66914279011.pdf">
	<meta name="citation_language" content="Español">
		<meta name="citation_keywords" content="Lantana, Lippia, taxonomía, Verbenaceae, Lantana, Lippia, taxonomy, Verbenaceae">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="css/homeArticulo.css">

	

	
	<script src="js/angular.js"></script>
	
	<script src="js/angular-route.js"></script>
	<script src="js/jquery.min.js"></script>
	
	<script src="js/homeArticuloAngularJS.js"></script></head><body>
	<script type="text/javascript">
		/**
		evento de visita
		 */
		gtag('event', 'screen_view', {
			'app_name' : 'PortalRedalyc',
			'screen_name' : 'HomeArticulo'
		});
		gtag('event', 'page_view', {
			'page_title' : 'Articulo',
			'page_location' : 'https://redalyc.org/articulo.oa'
		});
	</script>
	<input id="dataIndicators" value="0|0|0|0|0|0|2|0|2|0|0|0<<<426<<<<<<<<<<<<<<<<<<<<<2013|25<<2014|43<<2015|31<<2016|93<<2017|27<<2018|40<<2019|20<<2020|32<<2021|44<<2022|34<<2023|37<<<1<<<39" type="hidden" autocomplete="off">
	<input id="tabIndicator" type="hidden" autocomplete="off" value="">

	<input id="valVisContainer" value="" type="hidden" autocomplete="off">
	<input id="pageLanguaje" type="hidden" autocomplete="off" value="es">
	<!-- ngIf: !error404 --><div class="c ng-scope" ng-if="!error404">
	<div id="containerHeader">
				<div id="redalyc-generall">
					<div id="logoDiv">
						<a href="home.oa"><img id="logo-redalyc" src="img/nuevoHeaderHome/logo_redalyc.png"></a>
					</div>
					<div id="textContainer">
						<div>
							<b><span class="ng-binding">Sistema de Información Científica Redalyc</span></b><br>
							<span class="ng-binding">Red de revistas científicas de Acceso Abierto diamante</span><br>
							<span class="ng-binding">Infraestructura abierta no comercial propiedad de la academia</span>
						</div>
					</div>
				</div>
			</div>	
		<header>

		<div class="menu">
			<div class="redes-sociales">
				<a class="tr" href="home.oa"><img src="img/homeRevista2024/home-principal.png" alt=""></a>
				<a target="_blank" href="https://twitter.com/redalyc"><img src="img/nuevoHeaderHome/ic_x.png" alt=""></a> <a target="_blank" href="https://es-la.facebook.com/Redalyc/"><img src="img/nuevoHeaderHome/icon_fb.png" alt=""></a> <span ng-click="traducir('es','event')" ng-bind-html="t.languages.spa" class="ng-binding">esp</span>
				<span ng-click="traducir('en','event')" ng-bind-html="t.languages.en" class="ng-binding">eng</span>
			</div>
			
		</div>
		<div class="ficha-tecnica">
			<p class="bold ng-binding" ng-bind-html="articulo.titulo">NOVEDADES NOMENCLATURALES EN LOS GÉNEROS LIPPIA Y LANTANA (VERBENACEAE)</p>
			<p class="bold ng-binding" ng-bind-html="articulo.autores">Alicia D. Rotman, María E. Múlgura de Romero</p>

			<!-- ngIf: articulo.edoJatsNumero=='0' --><p ng-if="articulo.edoJatsNumero=='0'" class="ng-scope">
				<a href="toc.oa?id=669&amp;numero=14279"><b class="text-none ng-binding" ng-bind-html="articulo.nomRevista">Darwiniana</b>&nbsp;<b class="text-none ng-binding" ng-bind-html="articulo.anioArticulo">2010</b>, &nbsp;<b class="text-none ng-binding" ng-bind-html="articulo.volRevNum">48</b>&nbsp;(<b class="text-none ng-binding" ng-bind-html="articulo.numRevNum">1</b>)</a>
			</p><!-- end ngIf: articulo.edoJatsNumero=='0' -->
			<!-- ngIf: articulo.edoJatsNumero=='1' -->
			<!-- ngIf: articulo.edoJatsNumero=='3' -->
		</div>
		</header>
		<div class="menu-acciones">
			<div class="container-acciones">
				<a class="accion-item tr active" href="articulo.oa?id=66914279011" ng-click="changeToIndicators('articulo')"> <img src="img/art-ver-pdf.png" style="margin-right: -20px;">PDF
				</a> <a class="accion-item tr" href="comocitar.oa?id=66914279011"> <img src="img/art-como-citar.png" style="margin-right: -20px;"><b class="text-none ng-binding" ng-bind-html="t.menu.how">¿Cómo citar?</b></a> <a class="accion-item tr" href="exportarcita.oa?id=66914279011"> <img src="img/art-export-cita.png" style="margin-right: -20px;"><b class="text-none ng-binding" ng-bind-html="t.menu.export">Exportar cita</b></a> <a class="accion-item" href="revista.oa?id=669&amp;numero=14279&amp;tipo=coleccion">
					<img src="img/art-numero-completo.gif" style="margin-right: -20px;"><b class="text-none ng-binding" ng-bind-html="t.menu.full">Número completo</b>
				</a> <!-- ngIf: dataIndicators!='' && dataIndicators!=' ' && dataIndicators!=null && dataIndicators!='null' --><a class="accion-item tr " ng-click="changeToIndicators('indicadores')" id="elementIndicators" ng-if="dataIndicators!='' &amp;&amp; dataIndicators!=' ' &amp;&amp; dataIndicators!=null &amp;&amp; dataIndicators!='null'">
					<img src="img/indicador-activo.gif" style="margin: 0px 20px; width: 25px"> <b class="text-none ng-binding" ng-bind-html="t.menu.indicators">Indicadores</b>
				</a><!-- end ngIf: dataIndicators!='' && dataIndicators!=' ' && dataIndicators!=null && dataIndicators!='null' -->
			</div>
		</div>
		<div style="width: 65%; margin: 30px auto">
			<div class="pdf-acciones">
				<a id="pdf-descargar" class="pdf-item" title="Descargar" ng-click="downloadPDF()"> </a> <a id="pdf-pantalla-completa" class="pdf-item" title="Pantalla Completa" target="_blank" href="/pdf/669/66914279011.pdf"></a>
				<a id="pdf-imprimir" class="pdf-item" title="Imprimir" target="_blank" href="/pdf/669/66914279011.pdf"></a>
			</div>
		</div>

		<!-- ngIf: tabVisible == 'articulo' --><div ng-if="tabVisible == 'articulo'" id="i-frame" style="height: 805px; max-width: 980px; width: 90%; min-width: 320px; float: none; margin: 40px auto 0 auto; text-align: center;" class="ng-scope"><iframe src="/pdf/669/66914279011.pdf" width="100%" height="100%" type="application/pdf" style="border: none; margin: 0px auto;"></iframe></div><!-- end ngIf: tabVisible == 'articulo' -->
		<!-- ngIf: tabVisible == 'indicadores' -->
	</div><!-- end ngIf: !error404 -->

	

	<!-- ngInclude: 'html/error404.html' --><div ng-include="'html/error404.html'" class="ng-scope"><!-- ngIf: error404 --></div>
		<footer id="pie-pagina">
			<div id="informacion-redalyc">
				<span><b style="font-weight: lighter;" ng-bind-html="t.footer.redalyc" class="ng-binding">Sistema de Información Científica Redalyc</b><b> ®</b></span><br>
				<span ng-bind-html="t.footer.network" class="ng-binding">Red de revistas científicas de Acceso Abierto no comercial propiedad de la academia.</span><br>
				<br>
				<span ng-bind-html="t.footer.ver" class="ng-binding">Redalyc Versión 5.0 | 2003-</span><span id="current-year">2025</span><br>
				<span>comunicacion@redalyc.org</span>			
			</div>
			<div id="pie-logos">
				<img src="img/nuevoHeaderHome/logo_redalyc.png">
				<img src="img/administracion 2021.png">
			</div>
		</footer>
		<script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtiene el año actual
            const currentYear = new Date().getFullYear();
            // Establece el contenido del span con id 'current-year'
            const yearSpan = document.getElementById('current-year');
            if (yearSpan) {
                yearSpan.textContent = currentYear;
            }
        });
    </script>
</body></html>